*{
		margin:0;
		padding:0;
}
body{
		overflow:hidden;
		font-family:"Tahoma", "Geneva", sans-serif;
}
a{
	text-decoration:none;
	color:#fff;
}
a:hover{
	text-decoration:none;
	color:#fff;
}

